@media screen and (max-width: 950px) {

    .navbar {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #212121;
    padding: 0 2%;
    position: fixed;
    z-index: 99;
}
    .div1 {
        display: none;
    }

    .div2 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 1% 0% 0% 0%
    }   

    .div2  img{
        height: 1.8vh;
    }
    .div3 ul {
        display: flex;
        gap: 0.1px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .div3 ul li {
        width: auto;
        position: relative;
    }
    .search-mobile{
        display: flex;
            width: 16px;
            height: 30px;
        }
    .search-desk{
        display: none;
    }

    .for-account-m{
        display: none;
    }
   
    .account-mm{
        display: block;
        height: 34px;
        width: 35px;
    }


    .for-cart{
        display: none;
    }

    .cartt{
        display: block;
        height: 17px;
        width: 20px;
    }

 
.searchbar {
    display: none;
    position: absolute;
    top: 0vh;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 0 4%;
    background-color: #212121;
    border-bottom: 1px solid white;
}
.searchbar .searchbar-input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 90%;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: #212121;
    border-bottom: 1px solid white;

}

.searchbar-input:focus {
    color: #ECECEC;
    font-size: 18px;

}

.searchbar.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar .searchbtn{
    color: white;
    height: 22px;
    margin: 2%;
}

.searchbar .closebtn{
    color: white;
    height: 28px;
}

.desktop-searchbar{
    display: none;
}

.desktop-searchbar.active{
    display: none;
}
     /* new menu bar */

     li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    .menunavbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        float: right;
    }
    
    .hamburger {
        display: block;
        cursor: pointer;
        padding: 1% 0% 0% 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .bar {
        display: block;
        width: 20px;
        height: 1px;
        margin: 2.5px;
        transition: all 0.3s ease-in-out;
        background-color: #ececec;
    }
    
    .nav-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -100%;
        top: 3.2rem;
        height: 95vh;
        flex-direction: column;
        background-color: #212121;
        width: 100%;
        z-index: 2;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    
    .nav-item {
        margin: 1.5rem 0;
    }
    
    .nav-link{
        font-size: 1.4rem;
        color: #ececec;
        font-family: 'Belleza-Regular';
    }
    
  
    
    .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(6px) rotate(45deg);
        }
    
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-5.5px) rotate(-45deg);
        }
    
        .nav-menu.active {
            right: 0;
        }
    

  /* new menu bar */
    /* ====================ending of navbar */

    /* starting of hero img */

    .hero-div {
        width: 100%;
        height: 44vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        /* margin: 0% 0% 0% 0%; */
        position: relative;
    }

    .hero-img {
        width: 100%;
        height: 79%;
        padding: 0;
        position: relative;
    }
    .hero-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        margin-top: 0px;
    }

    .heading1 {
        position: absolute;
    display: flex;
    bottom: 30px;
    flex-direction: column;
    /* height: 3vh; */
    width: 90vw;
    }

    .heading1 .heading1-lable1 {
        color: white;
        font-size: 37px;
        /* height: 5vh; */
        bottom: 4vw;
        font-family: 'my_fontregular';
    }

    .heading1 .heading1-lable2 {
        color: white;
        font-family: 'BebasNeue-Light';
        font-size: 23px;
        opacity: 50%;
    }
    /* ====================ending of hero img============= */

    /* ====================starting of scroller=========== */

    .s1 {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .maindivs1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        gap: 1vh 1.3vh;
        margin: 3% 0% 4% 0%;
    }

    .s1div1 {
        width: 46%;
        height: auto;
    }

    
figure {
    width: 100%;
    height: 100%;
    padding: 0px;
    position: relative;
}

figure a {
    text-decoration: none;
    color: #000;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

.s1div1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

figure .s1div1-lable1 {
    display: none;
}

    figure .s1div1-lable2 {
        display: none;
    }

    .headingdiv{
        width: 100%;
        height: 2vh;
        margin: 1% 0% 0% 0%;
        padding: 0 2%;
        display: grid;
        color: #ECECEC;
        background-color: #212121;
        grid-template-columns: 3fr 1fr;
        position: relative;
    }
    .headingdiv .leftheading{
        font-size: 2.3vw;
        color: #ECECEC;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: 'Belleza-Regular'; 
        
    
       
    }
    .headingdiv .rightheading{
        color: #ECECEC;
        display: flex;
       justify-content: flex-end;
       align-items: center;
       font-family: 'Belleza-Regular'; 
       font-size: 2.3vw;
    }


    /* ==========================ending of scroller======== */
 
    /* =============================starting of refund======== */
   
    .s9 {
        width: 100%;
        height: 78vh;
        margin: 0;
        /* border: 2px solid brown; */
    }

    .extradiv {
        width: 100%;
        height: auto;
        display: flow-root;
        grid-template-columns: none;
        padding: 0;
        margin: 0;
        background-color: black;
        border-radius: 10px;
        position: relative;
    }


    .div1s9 {
        width: 100%;
        height: 25vh;
        padding:0%;
        border-radius: 10px;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .div1s9 .div1s9-heading1 {
        font-size: 32px;
    color: white;
    padding: 1% 1% 1% 7%;
        font-family: 'my_fontregular';
    }

    .div1s9 p {
        font-size: 12px;
        color: white;
        padding: 0% 7% 0% 7%;
        width: 100%;
        font-family: 'Belleza-Regular';
    }
    .s9div2 {
        width: 100%;
        height: 53vh;
        margin: 0% 0% 0% 0%;
        background: black;
        border-radius: 10px;
        position: absolute;
    }

    .s9maindiv1 {
        height: 55%;
        width: 100%;
        background-color: black;
        padding: 0;
        margin: 0;
        position: relative;
    }

    .s9maindiv1 .s9div1 {
        height: 31%;
        width: 100%;
        background-color: black;
        position: absolute;
        top: 0vh;
        overflow: hidden;
        z-index: 1;
    }

    .input1 {
        outline: none;
        resize: none;
        overflow: hidden;
        border: 2px solid #2D2D2D;
        background-color: #161616;
        height: 9vh;
        width: 95vw;
        text-align: center;
        border-radius: 5px;
        margin: 0% 0% 0% 3%;
        font-size: 1.9vh;
        font-family: 'Belleza-Regular';
        }


    .s9maindiv1 .s9div2 {
        height: 31%;
        width: 100%;
        margin: 0% 0% 0% 0%;
        position: absolute;
        top: 10vh;
        overflow: hidden;
        z-index: 1;
        background-color: black;
    }

    .input2 {
        border: none;
        outline: none;
        resize: none;
        overflow: hidden;
        border: 2px solid #2D2D2D;
        background-color: #161616;
        height: 9vh;
        width: 95vw;
        text-align: center;
        border-radius: 5px;
        margin: 0% 0% 0% 3%;
        font-size: 1.9vh;
        font-family: 'Belleza-Regular';
        }

    .s9maindiv1 .s9div3 {
        height: 31%;
        width: 100%;
        position: absolute;
        background-color: black;
        top: 20vh;
        z-index: 1;
    }

    .input3 {
        border: none;
        outline: none;
        resize: none;
        overflow: hidden;
        border: 2px solid #2D2D2D;
        background-color: #161616;
        height: 9vh;
        width: 95vw;
        text-align: center;
        border-radius: 5px;
        margin: 0% 0% 0% 3%;
        font-size: 1.9vh;
        font-family: 'Belleza-Regular';
        }

    .s9maindiv2 {
        width: 100%;
        height: 37%;
        padding: 0;
        margin: 0;
        background-color: black;
        position: relative;
        top: 1vh;
        overflow: hidden;
        z-index: 1;
    }


    .s9divv1 {
        display: none;
    }

    .s9divv2 {
        width: 100%;
        height: 27vh;
        display: flex;
        flex-direction: column;
        background-color: black;
    }

    .s9divv2 .s9sub1 {
        width: 100%;
        height: 37%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        z-index: 1;
        background-color: black;
        margin: 0;
    }

    .input5 {
        outline: none;
        resize: none;
        height: 9vh;
        width: 95vw;
        text-align: center;
        border: 2px solid #2D2D2D;
        background-color: #161616;
        border-radius: 5px;
        margin: 0% 0% 0% 1%;
    font-size: 1.9vh;
    font-family: 'Belleza-Regular';
}

    .s9divv2 .s9sub2 {
        width: 100%;
        height: 37%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        overflow: hidden;
        z-index: 1;
        background-color: black;
        margin: 0% 0% 0% 0%;
    }

    .s9sub2 a{
        outline: none;
        resize: none;
        overflow: hidden;
        background-color: black;
        border: 2px solid #2D2D2D;
        height: 9vh;
        width: 95vw;
        opacity: 90%;
        text-align: center;
        border-radius: 5px;
        margin: 0% 0% 0% 3%;
        font-size: 1.9vh;
        font-family: 'Belleza-Regular';
        }

    /* ====================================ending of refund */

/* new cards starting */

.cardsection {
    height: 52vh;
    width: 100%;
    }

    .cardsdiv {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #212121;
        padding: 2%;
        margin: 0% 0% 0% 0%;
     overflow: hidden;
     overflow-x: scroll;
     scrollbar-width: none;
   }
 .card-first-div {
     min-width: 80%;
     display: flex;
     align-items: flex-start;
     justify-content: center;
     flex-direction: column;
     height: 90%;
     margin: 0% 2% 0% 0%;
     background-color: #2D2D2D;
     color: #ECECEC;
     border-radius: 1vh;
   }

.cards-heading {
font-family: 'my_fontregular';
font-size: 35px;
margin: 10% 0% 0% 6%;
}

.cardsdiv .cards-para {
    font-family: 'Belleza-Regular';
    font-size: 15px;
    width: 90%;
    margin: 11% 0% 0% 6%;
}

.card-button {
    width: 67vw;
height: 8vh;
border: none;
color: #ECECEC;
text-decoration: none;
cursor: pointer;
font-size: 1.7vh;
font-family: 'Belleza-Regular';
background-color: black;
margin: 15% 0% 0% 6%;   
border-radius: 0.5vh;
}

#id-card-button{
border: 1px solid #2D2D2D;
}

.card-second-div {
min-width: 80%;
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
height: 90%;
margin: 0% 2% 0% 0%;
background-color: #2D2D2D;
color: #ECECEC;
border-radius: 1vh;
background-color: #000000;

}
.card-third-div {
background-color: #2D2D2D;
min-width: 80%;
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
height: 90%;
margin: 0% 2% 0% 0%;
background-color: #2D2D2D;
color: #ECECEC;
border-radius: 1vh;
}
/* new cards starting */



    /* <!-- starting of image--> */

    .s11 {
        width: 100%;
        height: 29vh;
        /* border: 3px solid orangered; */
        padding: 0 2%;
    }


    .s11 .div1s11 {
        width: 100%;
        height: 100%;
    }
    
    .s11 .div1s11 img {
        width: 96vw;
        height: 28vh;
        object-fit: cover;
    }
    /* <!-- =================ending of image=====================--> */
/* =======================starting of footer */

.s12 {
    width: 100%;
    height: auto;
    padding: 1% 2% 2% 2%;
    background-color: #212121;
}
.s12 .maindivs12 {
    width: 100%;
    height: 22%;
    display: grid;
    grid-template-columns: none;
    background-color: #212121;
}

.div1s12 {
    width: 100%;
    height: 20vh;
    padding: 0%;
    margin: 0%;
    /* border: 3px solid yellow; */
    background-color: black;
    border-radius: 10px;
    position: relative;
}

.div1s12 .div1s12-heading1 {
    position: absolute;
    color: white;
    font-size: 28px;
    top: 5vh;
    left: 7vw;
    font-family: 'Belleza-Regular';
}

.div1s12-links{
    height: 100%;
    width: 50%;
    position: relative;
    bottom: 0;
    left: 28px;
}

.div1s12 .div1s12-links-a {
    /* display: inline-block;
    height: 8vh; */
    width: 14vw;
    padding: 0%;
    display: inline-block;
}

.div1s12 .div1s12-links-svg1{
    position: absolute;
    height: 45px;
    width: 45px;
    bottom: 15px;
    border-radius: 50%;
    border: 2px solid gray;
    padding: 4% 4% 4% 4%;
    margin: 0% 0% 2% 0%;
    background-color: #2D2D2D;
}

.div1s12 .div1s12-links-svg2{
    position: absolute;
    height: 45px;
    width: 45px;
    bottom: 15px;
    border-radius: 50%;
    border: 2px solid gray;
    padding: 4% 4% 4% 4%;
    margin: 0% 0% 2% 1%;
    background-color: #2D2D2D;
}

.div1s12 .div1s12-links-svg3{
    position: absolute;
    height: 45px;
    width: 45px;
    bottom: 15px;
    border-radius: 50%;
    border: 2px solid gray;
    padding: 4% 4% 4% 4%;
    margin: 0% 0% 2% 2%;
    background-color: #2D2D2D;
}


.div2s12 {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: #212121;
    margin: 3% 0% 0% 0%;
}

.subdiv1s12 {
    width: 100%;
    height: auto;
    padding: 0px 0% 5px 0px;
    margin: 0% 0% 3% 0%;
    border-radius: 10px;
    background: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 0% 0% 0% 2%;
}

.footer-col1 {
    width: 100%;
    height: 100%;
    background-color: black;
    text-decoration: none;
    list-style-type: none;
    border-radius: 5px;
}

.footer-col1 .lables {
    text-decoration: none;
    font-size: 16px;
    color: #ECECEC;
    line-height: normal;
    margin: 20% 0% 6% 1%;
    font-family: 'Belleza-Regular';
}

.footer-col1 ul a {
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    color: #ECECEC;
    line-height: 2.8em;
    opacity: 50%;
    list-style-type: none;
    font-family: 'Belleza-Regular';
}

.subdiv2s12 {
    width: 100%;
    height: 20vh;
    background-color: #2D2D2D;
    padding: 0px;
    display: flex;
    align-items: flex-start;    
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 0%;
    /* padding: 0% 5% 0% 11%; */
}

.subdiv2s12 .subdiv2s12-heading1 {
    color: white;
    font-size: 52px;
    text-align: center;
    font-family: 'my_fontregular';
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subdiv2s12 .subdiv2s12-heading2 {
    color: white;
    font-size: 7px;
    /* text-align: start; */
    margin: 0%;
    /* padding: 0% 2% 0% 8%; */
    font-family: 'Belleza-Regular';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* ending of footer  */
/* ============================================================ */
}